{% import 'nav.macros.njk' as nav %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% set project_title = 'Uikit' %}
  <title>{% block title %}{{ project_title }} Documentation{% endblock %}</title>

  <link rel="icon" href="https://www.sngular.com/wp-content/uploads/2019/05/cropped-cropped-favicon-sngular-192-x-192@2x-32x32.png" sizes="32x32">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600|Source+Sans+Pro:400,400i,700,700i" rel="stylesheet">

  <link rel="stylesheet" href="assets/webpack/app_styles.min.css" />

  {% if googleAnalytics %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalytics }}"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', '{{ googleAnalytics }}');
    </script>
  {% endif %}

  {% if trackingCode %}
    <!-- Custom trackingCode -->
    {{ trackingCode|safe }}
  {% endif %}
</head>
<body>
  {% include '_icons.svg' %}

  <div data-region="app">
    <header data-region="banner">
      {{ nav.toggle() }}

      <div class="project-title">
        <a href="index.html" rel="home" class="project-name"><img src="https://www.sngular.com/wp-content/themes/THEME-SNG/images/logo.svg" alt="logo"></a>
      </div>
    </header>

    <div data-region="container">
      {{ nav.menu(
        project=project_title,
        byGroup=byGroup,
        groups=groups,
        orderedGroups=orderedGroups,
        activeGroup=activeGroup,
        extraDocs=extraDocs,
        extraLinks=extraLinks,
        watermark=display.watermark
      ) }}

      <main data-region="main">
        {% block breadcrumb %}{% endblock %}

        <div data-page="{% block page_slug %}{{ activeGroup or 'index' }}{% endblock %}">
          {% block main %}{% endblock %}
        </div>
      </main>
    </div>
  </div>

  <script type="text/javascript" src="assets/webpack/runtime.min.js"></script>
  <script type="text/javascript" src="assets/webpack/common.min.js"></script>
  <script type="text/javascript" src="assets/webpack/app.min.js"></script>
  {% block extrajs %}{% endblock %}
</body>
</html>
