{% extends 'base.njk' %}

{% import 'utility.macros.njk' as utility %}

{% block title %}{{ pageTitle }} | {{ super() }}{% endblock %}

{% block breadcrumb %}
  <nav class="breadcrumb">
    {% set project_title = 'Uikit' %}
    {{ utility.link_if(project_title, 'index.html') }} »
    <strong>{{ pageTitle }}</strong>
  </nav>
{% endblock %}

{% block main %}
  <div class="text-block">
    {{ docText|safe }}
  </div>
{% endblock %}
