{% extends 'base.njk' %}

{% import 'utility.macros.njk' as utility %}

{% block title %}{{ pageTitle }} | {{ super() }}{% endblock %}

{% block breadcrumb %}
  <nav class="breadcrumb">
    {% set project_title = 'Uikit' %}
    {{ utility.link_if(project_title, 'index.html') }} »
    <strong>{{ pageTitle }}</strong>
  </nav>
{% endblock %}

{% block main %}
  {% for item in items %}
    {% set type = item.context.type %}
    {% include 'item/_item.njk' %}
  {% endfor %}
{% endblock %}
