{% extends 'base.njk' %}

{% import 'utility.macros.njk' as utility %}

{% block title %}Search Results | {{ super() }}{% endblock %}

{% block breadcrumb %}
  <nav class="breadcrumb">
    {% set project_title = 'Uikit' %}
    {{ utility.link_if(project_title, 'index.html') }} »
    <strong>Search Results</strong>
  </nav>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="assets/webpack/search.min.js"></script>
{% endblock %}
