<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base target="_parent">

  <title>icons</title>

  <!-- Uikit styles and fonts -->
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600|Source+Sans+Pro:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="assets/webpack/app_styles.min.css" />
</head>
<body>
  {% if iconsSvg %}
    {{ iconsSvg|safe }}
  {% endif %}
  {% if item.icons %}
    <div data-sassdoc="icon-preview">
      {% for icon in item.icons %}
        <div data-sassdoc-icon="{{ icon.name }}">
          {{ icon.rendered|safe }}
          <div data-sassdoc="icon-info">
            <div data-sassdoc="icon-name">
              <strong>{{ icon.name }}</strong>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</body>
</html>
