@font-face {
	font-family: "fonticon";
	src: url('../fonts/icons/fonticon.eot');
	src: url('../fonts/icons/fonticon.eot?#iefix') format('eot'),
		url('../fonts/icons/fonticon.woff2') format('woff2'),
		url('../fonts/icons/fonticon.woff') format('woff'),
		url('../fonts/icons/fonticon.ttf') format('truetype'),
		url('../fonts/icons/fonticon.svg#fonticon') format('svg');
}

@mixin icon-styles {
	font-family: "fonticon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == back {
		$char: "\E001";
	}
	@if $filename == cart {
		$char: "\E002";
	}
	@if $filename == heart {
		$char: "\E003";
	}
	@if $filename == home {
		$char: "\E004";
	}
	@if $filename == next {
		$char: "\E005";
	}
	@if $filename == person {
		$char: "\E006";
	}
	@if $filename == search {
		$char: "\E007";
	}
	@if $filename == send {
		$char: "\E008";
	}
	@if $filename == share {
		$char: "\E009";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-back {
	@include icon(back);
}
.icon-cart {
	@include icon(cart);
}
.icon-heart {
	@include icon(heart);
}
.icon-home {
	@include icon(home);
}
.icon-next {
	@include icon(next);
}
.icon-person {
	@include icon(person);
}
.icon-search {
	@include icon(search);
}
.icon-send {
	@include icon(send);
}
.icon-share {
	@include icon(share);
}
