{% import 'item/preview.macros.njk' as preview %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base target="_parent">

  <title>fonts</title>

  <!-- Uikit styles and fonts -->
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600|Source+Sans+Pro:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="assets/webpack/app_styles.min.css" />

  {% if item.font.html %}
    <!-- Font HTML -->
    {{ item.font.html|safe }}
  {% endif %}

  {% if item.font.localFontCSS %}
    <!-- Local font @font-face CSS -->
    <style type="text/css">
{{ item.font.localFontCSS|safe }}
    </style>
  {% endif %}
</head>
<body class="sassdoc font-specimen">
  {%- set key = item.font.key -%}
  {%- set data = sassjson.fonts[key] -%}
  {%- if data and item.font.parsedVariants and item.font.parsedVariants|length -%}
    {%- for variant in item.font.parsedVariants -%}
      {{ preview.specimen_variant(variant, data) }}
    {%- endfor -%}
  {%- endif -%}
</body>
</html>
