///
/// Button component default y bordered
/// @name Button Component
/// @group Froms
/// @example njk - Variables de entrada: text / class
/// {% set btns = [ { text: 'Default', class: 'default' },
///                 { text: 'Bordered', class: 'bordered' }] %}
/// {% for btn in btns %}
/// {% include './components/button/button.html' %}
/// {% endfor %}
///
.btn {
  font-size: 1rem;
  padding: .5rem;
  margin: 0 .5rem;
  border-radius: .5rem;
  border: none;
  color: #333;
  background: #f9f9f9;

  &__default {
    box-shadow: 0px 0px 5px 0px rgba(171,171,171,1);
  }
  &__bordered {
    border: 1px solid #333;
  }
}
