@charset "UTF-8";
html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%
}

details,
main {
	display: block
}

pre {
	overflow: auto
}

progress {
	display: inline-block
}

summary {
	display: block
}

template {
	display: none
}

*,
:after,
:before {
	border-style: solid;
	border-width: 0;
	box-sizing: border-box
}

* {
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

audio :not([controls]) {
	display: none
}

[aria-busy=true] {
	cursor: progress
}

[aria-controls] {
	cursor: pointer
}

[aria-disabled] {
	cursor: default
}

[hidden] {
	display: none
}

button {
	overflow: visible
}

input {
	border-radius: 0;
	line-height: normal
}

[type=button],
[type=reset],
[type=submit],
button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0!important;
	padding: 0!important
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}

[type=number] {
	width: auto
}

[type=search] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield
}

button,
input,
select,
textarea {
	background-color: transparent;
	color: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit
}

textarea {
	overflow: auto;
	resize: vertical
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

audio,
canvas,
iframe,
img,
svg,
video {
	max-width: 100%;
	vertical-align: middle
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: 700
}

code,
kbd,
pre,
samp {
	font-family: monospace;
	font-size: inherit
}

dfn {
	font-style: italic
}

nav ol,
nav ul {
	list-style: none
}

small,
sub,
sup {
	font-size: .75em
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

:root {
	font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 16px;
}

::-moz-selection {
	background-color: #00C1DE
}

::selection {
	background-color: #00C1DE
}

mark {
	background-color: #00C1DE;
	display: inline-block;
	padding: 0 .175rem
}

[href]:link,
[href]:visited {
	color: #F7B334;
	-webkit-text-decoration-color: #F9CA71;
	text-decoration-color: #F9CA71;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip: ink;
	transition: color .2s, -webkit-text-decoration-color .25s;
	transition: text-decoration-color .25s, color .2s;
	transition: text-decoration-color .25s, color .2s, -webkit-text-decoration-color .25s
}

[href]:active,
[href]:focus,
[href]:hover {
	color: #061B2B;
	-webkit-text-decoration-color: currentColor;
	text-decoration-color: currentColor
}

pre {
	font-size: .9rem
}

code,
pre {
	font-family: Source Code Pro, Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif
}

code {
	font-weight: bolder
}

pre code {
	display: block;
	font-weight: 400
}

.is-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(1px 1px 1px 1px);
	clip-path: inset(1px 1px 1px 1px);
	height: 1px;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	width: 1px
}

[data-icon] {
	height: 1em;
	width: 1em;
	fill: currentColor
}

[data-icon-size=nav-icon] {
	height: 28px;
	width: 28px
}

[data-icon-size=footer-logo] {
	height: 2.8rem;
	width: 2.8rem
}

body,
html {
	overflow-x: hidden
}

[data-region] {
	width: 100%
}

[data-region=app] {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0 auto;
	min-height: 100vh;
	padding: 0
}

[data-region=container] {
	display: flex;
	flex: 1 1 auto;
	position: relative
}

[data-region=container]:after {
	clear: both;
	content: " ";
	display: block
}

@media (min-width:50em) {
	[data-region=container] {
		justify-content: flex-end
	}
}

[data-region=banner] {
	display: block;
	position: relative;
	width: 100%;
	z-index: 3;
	align-items: center;
	display: flex;
	padding: .7rem
}


.project-title {
	align-items: baseline;
	display: flex;
}

.project-name {
	font-size: calc(1rem + 2vw);
	font-weight: 700;
	padding-left: .35rem;
	padding-right: .35rem
}

.project-name:link,
.project-name:visited {
	text-decoration: none
}

.project-version {
	font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #555b5e;
	font-size: calc(1rem + .5vw)
}

[data-nav-toggle] {
	color: #F7B334;
	padding: .35rem
}

@media (min-width:50em) {
	[data-nav-toggle] {
		padding-left: .7rem;
		padding-right: .7rem
	}
}

@media (min-width:65em) {
	[data-nav-toggle] {
		display: none
	}
}

[data-nav-toggle]:active,
[data-nav-toggle]:focus,
[data-nav-toggle]:hover,
[data-nav-toggle][aria-pressed=true] {
	color: #061B2B;
	outline: 0
}

[data-region=nav] {
	background-color: #061B2B;
	color: #fff;
	z-index: 2;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	padding: 1.4rem;
	white-space: nowrap;
	width: auto
}

[data-region=nav] [href]:link,
[data-region=nav] [href]:visited {
	color: inherit
}

@media (max-width:64.99em) {
	[data-region=nav] {
		bottom: 0;
		left: 0;
		position: absolute;
		top: 0;
		box-shadow: 0 0 .35rem rgba(85, 91, 94, .5);
		-webkit-transform: translateX(-102%);
		transform: translateX(-102%);
		transition: -webkit-transform .4s;
		transition: transform .4s;
		transition: transform .4s, -webkit-transform .4s
	}
	[data-region=nav][aria-expanded=true] {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@media (min-width:65em) {
	[data-region=nav] {
		flex: 0 0 auto
	}
}

[data-region=main] {
	z-index: 1
}

@media (min-width:50em) {
	[data-region=main] {
		overflow: hidden
	}
}

[data-page] {
	padding: calc(.7rem + 2.5vw);
	position: relative
}

.text-block {
	max-width: 80ch
}

.text-block h1,
.text-block h2,
.text-block h3,
.text-block h4 {
	color: #3b4042
}

.text-block h1 a:link,
.text-block h1 a:visited,
.text-block h2 a:link,
.text-block h2 a:visited,
.text-block h3 a:link,
.text-block h3 a:visited,
.text-block h4 a:link,
.text-block h4 a:visited {
	-webkit-text-decoration-color: transparent;
	text-decoration-color: transparent
}

.text-block h1 a:active,
.text-block h1 a:focus,
.text-block h1 a:hover,
.text-block h2 a:active,
.text-block h2 a:focus,
.text-block h2 a:hover,
.text-block h3 a:active,
.text-block h3 a:focus,
.text-block h3 a:hover,
.text-block h4 a:active,
.text-block h4 a:focus,
.text-block h4 a:hover {
	-webkit-text-decoration-color: currentColor;
	text-decoration-color: currentColor
}

.text-block h1+h2,
.text-block h1+h3,
.text-block h2+h2,
.text-block h2+h3,
.text-block h3+h2,
.text-block h3+h3,
.text-block h4+h2,
.text-block h4+h3 {
	margin-top: 0
}

.text-block h1 {
	font-size: calc(1rem + 2vw);
	margin-bottom: .7rem
}

.text-block h2,
.text-block h3 {
	margin-top: 2.1rem
}

.text-block>h2:first-child,
.text-block>h3:first-child {
	margin-top: 0
}

.text-block h2 {
	font-size: calc(1rem + 1vw);
	margin-bottom: .7rem
}

.text-block h3 {
	font-size: calc(1rem + .5vw);
	font-weight: 400;
	margin-bottom: .7rem
}

.text-block p,
.text-block pre {
	margin-bottom: 1.05rem
}

.text-block ol,
.text-block ul {
	margin: 0 1.4rem 1.05rem
}

.text-block li>p {
	margin: .7rem 0
}

.text-block blockquote {
	border-left: .35rem solid #dedede;
	font-size: calc(1rem + .5vw);
	margin-left: -1.4rem;
	padding-left: 1.05rem
}

.text-block blockquote>p:not(:last-child) {
	text-indent: -.4em
}

.text-block blockquote>p:not(:last-child):after,
.text-block blockquote>p:not(:last-child):before {
	content: "“";
	color: #061B2B
}

.text-block blockquote>p:not(:last-child):after {
	content: "”"
}

.text-block blockquote cite {
	display: block;
	font-size: 1rem;
	font-style: normal
}

.invert-colors {
	background-color: #061B2B;
	color: #fff
}

.invert-colors [href]:link,
.invert-colors [href]:visited {
	color: inherit
}

::-webkit-input-placeholder {
	color: currentColor;
	opacity: .5
}

:-ms-input-placeholder {
	color: currentColor;
	opacity: .5
}

::-ms-input-placeholder {
	color: currentColor;
	opacity: .5
}

::placeholder {
	color: currentColor;
	opacity: .5
}

input {
	border: 1px solid #FFF;
	color: inherit;
	font-size: .9rem;
	margin-bottom: .35rem;
	padding: .175rem .35rem;
	width: 100%;
	border-radius: .35rem
}

input:focus {
	border-color: #00C1DE;
	outline: 0
}

.search-heading {
	font-size: calc(1rem + 2vw)
}

.search-term {
	font-family: Source Code Pro, Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif
}

.search-results {
	list-style: none
}

.search-result {
	margin: calc(.7rem + 2.5vw) 0
}

[data-result-field=contents] {
	color: #555b5e
}

.nav-subsection {
	flex: 0 0 auto
}

.nav-subsection:last-of-type {
	flex: 1 0 auto
}

.nav-subsection+.nav-item {
	border-top: 1px solid;
	margin-top: 2.8rem;
	padding-top: 1.4rem
}

.nav-home {
	font-size: calc(1rem + .5vw);
	font-weight: 700;
	margin-top: 2.1rem
}

.nav-title {
	border-top: 1px solid;
	font-weight: 700;
	margin: 2.8rem 0 1.4rem;
	padding-top: .175rem
}

.nav-item {
	list-style: none;
	margin: .35rem 0
}

[data-nav]:link,
[data-nav]:visited {
	color: #fff;
	line-height: 1.1;
	padding-bottom: .175rem;
	position: relative;
	text-decoration: none;
	transition: color .4s
}

[data-nav]:link:before,
[data-nav]:visited:before {
	content: "";
	bottom: 0;
	left: 0;
	position: absolute;
	background: #00C1DE;
	height: 2px;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	transition: -webkit-transform .4s cubic-bezier(.22, .61, .36, 1);
	transition: transform .4s cubic-bezier(.22, .61, .36, 1);
	transition: transform .4s cubic-bezier(.22, .61, .36, 1), -webkit-transform .4s cubic-bezier(.22, .61, .36, 1);
	transition-delay: .2s;
	width: 100%
}

[data-nav]:active:before,
[data-nav]:focus:before,
[data-nav]:hover:before,
[data-nav][data-nav=is-active]:active:before,
[data-nav][data-nav=is-active]:focus:before,
[data-nav][data-nav=is-active]:hover:before,
[data-nav][data-nav=is-active]:link:before,
[data-nav][data-nav=is-active]:visited:before {
	content: "";
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	transition-delay: 0s
}

.footer-credit {
	border-top: 1px solid #00C1DE;
	flex: 0 0 auto;
	font-size: .9rem;
	line-height: 1.4rem;
	padding-top: 1.4rem
}

.footer-credit:after {
	clear: both;
	content: " ";
	display: block
}

.footer-credit span {
	display: block;
	overflow: hidden;
	white-space: nowrap
}

.footer-icon:link,
.footer-icon:visited {
	color: inherit;
	float: left;
	margin-right: .35rem
}

.footer-link:link,
.footer-link:visited {
	font-weight: 700;
	-webkit-text-decoration-color: transparent;
	text-decoration-color: transparent
}

.footer-link:active,
.footer-link:focus,
.footer-link:hover {
	-webkit-text-decoration-color: currentColor;
	text-decoration-color: currentColor
}

.breadcrumb {
	background: #061B2B;
	padding: 1.5rem calc(.7rem + 2.5vw);
  color: #FFFFFF;
}
.breadcrumb a,
.breadcrumb a:link,
.breadcrumb a:visited {
  color: #FFFFFF;
  text-decoration-color: #061B2B;
}
.breadcrumb a:hover {
  color: #F7B334;
  text-decoration-color: #F9CA71;
}
.breadcrumb a,
.breadcrumb span,
.breadcrumb strong {
	display: inline-block
}

.project-links {
	display: flex;
	justify-content: flex-end;
	margin-left: 0;
	margin-right: 0
}

@media (max-width:49.99em) {
	.project-links {
		margin-bottom: .7rem
	}
}

.project-link-item {
	display: flex;
	list-style: none
}

.project-link-item+.project-link-item {
	margin-left: .7rem
}

.project-link:link,
.project-link:visited {
	border: 1px solid #F7B334;
	border-radius: 1.4rem;
	padding: .35rem 1.4rem;
	text-align: center;
	text-decoration: none;
	transition: background-color .4s
}

.project-link:active,
.project-link:focus,
.project-link:hover {
	background-color: #F7B334;
	color: #fff
}

.item {
	margin-bottom: calc(4.2rem + 2.5vw)
}

[data-item-section] {
	margin-bottom: 2.1rem
}

[data-item-section=header] .code-block,
[data-item-section=header] .text-block {
	margin-bottom: .7rem
}

.item-title {
	font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.item-subtitle {
	border-bottom: 1px solid #dedede;
	color: #555b5e;
	font-weight: 400;
	margin-bottom: .7rem
}

.item-subtitle-main {
	letter-spacing: .05em;
	text-transform: uppercase
}

.item-subtitle-main:not(:last-child):after {
	content: ": "
}

.item-subtitle-supplement {
	letter-spacing: 0;
	padding-left: .35rem
}

.alias-title,
.item-name,
.item-subtitle-supplement,
.item-type,
.item-value {
	font-family: Source Sans Pro, Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif
}

.alias-title,
.item-name,
.item-type,
.item-value {
	display: inline-block
}

.item-note,
.item-type,
.item-value,
.value-type {
	color: #555b5e;
	display: inline-block;
	font-weight: 400
}

.alias {
	color: #555b5e;
	font-style: italic
}

.alias-title {
	font-style: normal;
	font-weight: bolder
}

.param-list {
	margin-bottom: .7rem
}

.param-title {
	color: #555b5e;
}

.param-details {
	margin-top: .35rem
}

@media (min-width:40em) {
	.param-details {
		margin-left: 1.4rem
	}
}

@media (min-width:40em) {
	.requires-wrapper {
		display: flex;
		margin-bottom: 2.1rem
	}
	.requires-wrapper [data-item-section] {
		flex: 1 1 40%;
		margin-bottom: 0;
		max-width: 100%
	}
	.requires-wrapper [data-item-section]:first-child {
		margin-right: 1.4rem
	}
}

.color-palette {
	display: flex;
	flex-wrap: wrap;
	margin: -.7rem
}

@supports (display:grid) {
	.color-palette {
		display: grid;
		grid-auto-rows: auto;
		grid-gap: 1.4rem;
		grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
		margin: 0
	}
}

.color-preview {
	align-items: stretch;
	display: flex;
	flex: 1 0 10em;
	flex-direction: column;
	font-size: .9rem;
	margin: .7rem
}

@supports (display:grid) {
	.color-preview {
		margin: 0
	}
}

.color-swatch {
	border: 1px solid #555b5e;
	height: 5.6rem;
	min-width: 5.6rem;
	position: relative
}

.color-overlay,
.transparency-grid {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0
}

.transparency-grid {
	background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 20 20"><rect width="10" height="10"/><rect x="10" y="10" width="10" height="10"/></svg>') 50% repeat scroll;
	background-size: .5em .5em;
	left: 50%
}

.color-name,
.color-value {
	display: block;
	padding: .35rem
}

.color-name-option {
	display: inline-block
}

.color-value {
	background-color: #fafcfd;
	border-radius: .175rem;
	box-shadow: inset 0 0 .175rem rgba(13, 127, 165, .2);
	color: #555b5e;
	font-weight: 400;
	margin-top: .175rem;
	white-space: nowrap
}

.hljs-comment,
.hljs-quote {
	color: #93a1a1
}

.hljs-addition,
.hljs-keyword,
.hljs-selector-tag {
	color: #859900
}

.hljs-doctag,
.hljs-literal,
.hljs-meta .hljs-meta-string,
.hljs-number,
.hljs-regexp,
.hljs-string {
	color: #2aa198
}

.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-title {
	color: #268bd2
}

.hljs-attr,
.hljs-attribute,
.hljs-class .hljs-title,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
	color: #b58900
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-subst,
.hljs-symbol {
	color: #cb4b16
}

.hljs-built_in,
.hljs-deletion {
	color: #dc322f
}

.hljs-formula {
	background: #eee8d5
}

.hljs-emphasis {
	font-style: italic
}

.hljs-strong {
	font-weight: bolder
}

.code-block {
	align-items: stretch;
	display: flex;
	flex: 1 1 20em;
	flex-direction: column;
	max-height: 16.8rem;
	max-width: 100%;
	overflow: hidden
}

.code-header {
	background-color: #00C1DE;
	color: #3b4042;
	flex: 0 0 auto;
	padding: .25rem .5rem;
  font-size: 1.25rem;
}

.code-description:before {
	content: " – "
}

.hljs-pre,
.text-block pre {
	background-color: #fafcfd;
	border: 1px solid #00C1DE;
	color: #061B2B;
	flex: 1 1 auto;
	flex-wrap: wrap
}

.hljs-pre code,
.text-block pre code {
	padding: .7rem
}

.example {
	margin-bottom: 1.4rem
}

.example-code {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden
}

.example-render {
	border: 1px solid #dedede;
	border-top: 0;
	padding: .7rem
}

.sassdoc {
	overflow: visible
}

.font-specimen {
	display: flex;
	flex-wrap: wrap;
	margin: 1.4rem -.7rem 0
}

@supports (display:grid) {
	.font-specimen {
		display: grid;
		grid-auto-rows: auto;
		grid-gap: 1.4rem;
		grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
		margin: 1.4rem 0 0
	}
}

[data-specimen-face] {
	align-items: stretch;
	display: flex;
	flex: 1 0 24em;
	flex-direction: column;
	font-size: .9rem;
	margin: .7rem
}

@supports (display:grid) {
	[data-specimen-face] {
		margin: 0
	}
}

[data-specimen=sample] {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

[data-specimen=lorem] {
	flex: 1 1 auto;
	padding-left: .7rem
}

[data-specimen=lorem] span {
	display: block
}

[data-specimen=aa] {
	flex: 0 1 auto;
	font-size: 4.2rem;
	padding-left: .175rem
}

[data-sassdoc=icon-preview] {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	margin: 0 -.7rem
}

[data-sassdoc-icon] {
	margin: 1.4rem .7rem;
	min-width: 7rem
}

[data-sassdoc-icon] [data-icon] {
	height: calc(1rem + 2vw);
	width: calc(1rem + 2vw);
	margin-bottom: .7rem
}

[data-sassdoc=icon-info] {
	font-size: .9rem
}

.sizes {
	width: 100%
}

.sizes td {
	overflow: hidden;
	padding: .175rem .7rem;
	vertical-align: baseline
}

.sizes td+td {
	border-left: 1px solid #dedede
}

.sizes.is-large {
	display: block
}

.sizes.is-large tbody {
	display: block;
	max-width: 100%
}

.sizes.is-large tr {
	display: flex;
	flex-wrap: wrap
}

.sizes.is-large td {
	display: block;
	flex: 0 0 auto;
	text-align: left
}

.sizes.is-large td+td {
	border-left: 0
}

.sizes.is-large .size-name,
.sizes.is-large .size-value {
	padding-bottom: 0
}

.sizes.is-large .size-viz {
	flex: 0 0 100%;
	max-width: none
}

.sizes.is-large .is-text,
.sizes.is-large .size-overflow {
	padding-bottom: .7rem
}

@media (max-width:39.99em) {
	.sizes,
	.sizes tbody {
		display: block
	}
	.sizes tbody {
		max-width: 100%
	}
	.sizes tr {
		display: flex;
		flex-wrap: wrap
	}
	.sizes td {
		display: block;
		flex: 0 0 auto;
		text-align: left
	}
	.sizes td+td {
		border-left: 0
	}
	.sizes .size-name,
	.sizes .size-value {
		padding-bottom: 0
	}
	.sizes .size-viz {
		flex: 0 0 100%;
		max-width: none
	}
	.sizes .is-text,
	.sizes .size-overflow {
		padding-bottom: .7rem
	}
}

.size {
	max-width: 100%
}

.size-name,
.size-value {
	color: #555b5e;
	flex: 0 1 5ch;
	font-size: .9rem;
	white-space: nowrap
}

.size-viz {
	max-width: 0;
	overflow-x: auto;
	width: 100%
}

.size-viz.is-text {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.size-overflow {
	max-width: 100%;
	overflow-x: auto
}

.size-bar {
	background-color: #555b5e;
	background-image: linear-gradient(270deg, #F9CA71 1px, transparent 0, transparent), linear-gradient(270deg, hsla(0, 0%, 87.1%, .5) 1px, transparent 0, transparent), linear-gradient(270deg, hsla(0, 0%, 87.1%, .25) 1px, transparent 0, transparent);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 100px 75%, 10px 50%, 5px 25%;
	border-radius: .175rem;
	display: inline-block
}

.size-text {
	line-height: 1.2
}

.ratio-base {
	background-color: #00C1DE
}

.ratio-base .size-bar {
	background-color: #F7B334
}
